<h1>Search</h1>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="SearchResult" class="w-100">
            <div class="form-group d-flex justify-content-center">
                <div class="input-group w-50 mt-3">
                    <input type="text" class="form-control w-50 mx-auto" placeholder="Search for recipe" name="SearchQuery">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
                
        </form>
    </div>
</div>

<div>
    
</div>
